:root {
	/* COLORS */
	/* Primary */
	--violet-color: #7440c7;
	--gray-color: #47556b;
	--dark-color: #1a212e;

	/* Neutral */
	--light-gray-color: #cfcfcf;
	--light-blue-color: #edf2f7;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.3rem;
	background-color: #ecf2f8;
	height: 100vh;
}

.testimonials {
	max-width: 144rem;
	padding: 7.1rem 2.4rem;
}

.container {
}

.card {
	padding: 2.6rem 0 3.2rem 3.2rem;
	border-radius: 6px;
	box-shadow: 4rem 6rem 5rem -4.7rem #48556a3f;
	position: relative;
}

.card-1 {
	background-color: var(--violet-color);
}

.icon {
	position: absolute;

	top: 0;
	right: 2.4rem;
}

.card-top {
	display: flex;
	gap: 1.7rem;
	margin-bottom: 1.8rem;
}

.user-photo {
	outline: 2px solid #a775f1;
	border-radius: 50%;
	width: 2.8rem;
}

.user-crediantials {
}

.user-name {
	color: #ffffff;
}

.user-status {
	font-size: 1.1rem;
	color: #ffffff50;
}

.card-heading {
	font-size: 2rem;
	color: #ffffff;
	margin-right: 3.2rem;
	position: relative;
	z-index: 10;
}

.card-description {
	margin-right: 4.8rem;
	color: #ffffff50;
	line-height: 1.8;
}

.card-1 > .card-heading {
	margin-bottom: 4rem;
}
